@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Avenir Next";
}

.breadcrumb {
    background-color: white;
    padding-left: 0px;
}

.breadcrumb-item a {
    color: black;
    margin: 0 5px 0 10px;
}

.bodycontent {
    margin-top: 90px;
}

.col-7 h4 {
    font-size: 32px;
    font-weight: bolder;
    color: #484848;
    margin-bottom: 20px;
}

.col.myrooms h4 {
    font-size: 32px;
    font-weight: bolder;
    color: #484848;
    margin-bottom: 40px;
}

.col-7 {
    padding-left: 25px;
}

.Badgesection {
    height: 71px;
    width: 625px;
    margin: 50px 0 50px 0;
    padding: 12px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(228, 228, 228) !important;
    border-radius: 5px;
}

.col-2.Badgeimage {
    padding: 0px 3px 14px 30px;
}

.addsection {
    margin-top: 40px;
}

.myform {
    height: 50px;
    border: none;
    border-width: 1px !important;
    border-radius: 5px;
    border-style: solid !important;
    border-color: rgb(228, 228, 228) !important;
}

.form-group label {
    font-size: 14px;
}

.myform::placeholder {
    font-size: 13px;
    color: rgb(138, 138, 138);
}

.col-4.Profile {
    margin-left: 85px;
}

.ownerProfile {
    border-width: 1px !important;
    border-radius: 2px;
    height: auto;
    padding: 20px;
    border-style: solid !important;
    border-color: rgb(228, 228, 228) !important;
}


/* New dashboard */

.navbar-brand img {
    width: 80px;
}

.nav-item {
    margin-right: 10px;
}

.nav-item a {
    color: black;
    font-weight: 300;
    font-size: 14px;
}


/* after header */

.content {
    margin-top: 80px;
}

.col.imageright {
    width: 475px;
    padding-top: 100px;
    height: 600px;
}

.col.imageright img {
    width: 475px;
    border-radius: 5px;
}


/*
ROOM CARD CSS STARTS */

.HotelCard {
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 3px 40px 0 rgba(162, 162, 162, 0.11);
}

.FeaturedProperty {
    position: absolute;
    margin: 15px 0 0 15px;
}

.Price {
    position: absolute;
    margin: 200px 0 0 15px;
}

.FeaturedBtn.col {
    background-color: #54c4d9;
    color: white;
    border-radius: 3px;
    font-size: 9px;
    font-weight: bold;
    padding: 4px 9px 4px 9px;
}

.HotelPricing.col {
    color: white;
    margin-right: auto;
}

.Hostimg.col img {
    width: 40px;
    margin-top: -25px;
    border-radius: 360px;
    border: thin solid white;
}

.CardBody.col {}

.CardBody.col h5 {
    font-size: 16px;
}

.CardBody.col p {
    font-size: 14px;
    font-weight: lighter;
    color: #949ca5;
}

.RoomProperty.row {
    color: #000000;
    font-size: 14px;
}

.HotelStarRating {
    color: orange;
    margin-top: 15px;
    margin-left: 12px;
    font-size: 14px;
    margin-bottom: 10px;
}